body {
  display: block;
}

h1 {
  color: rgb(195, 38, 192);
  text-align: left;
  font-size: 30px;
}
h2 {
  color: rgb(26, 88, 220);
  text-align: center;
  padding-top: 20px;
  font-size: 60px;
}

h3 {
  color: rgb(163, 224, 233);
  padding-top: 10px;
}
img {
  display: block;
  max-width: 80%;
  height: auto;
  padding-top: 10px;
}
footer {
  text-align: center;
  background-color:rgb(230, 227, 227) ;
}
.nev {
  text-align: right;
}
.current-date {
  text-align: right;
}