body {
  display: block;
  font-family: proxima-nova;
  width: 600px;
  margin: 0 auto;
  background-color: #fefaf4;
  padding: 0 100px 100px 100px;
  border: 5px solid white;
}

h1 {
  color: rgb(195, 38, 192);
  text-align: left;
  font-size: 30px;
}
h2 {
  color: rgb(26, 88, 220);
  text-align: center;
  padding-top: 20px;
  font-size: 60px;
}

h3 {
  color: rgb(163, 224, 233);
  padding-top: 10px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
}

footer {
  text-align: center;
  color: gray
}
.nev {
  text-align: right;
}
.current-date {
  padding-top: 50px;
  text-align: center;
  color: gray
}
.buggy-friendly-list{
  font-weight: bold;
}
/*css update */